{% include "mail/header.html" %}
{% load i18n %}

<main>

    <blockquote>
        {% blocktrans %}
            Ratings: {{ design }}/5 (Design), {{ performance }}/5 (Performance), {{ usability }}/5
            (Usability)

            Rating (all in all): {{ overall }}/10

            Pro/Contra: {{ apps }}

            Ideas/Wishes: {{ ideas }}

            Others: {{ more }}

            <p>Submitted from {{ user.get_full_name }} ({{ user.username }})</p>
        {% endblocktrans %}
    </blockquote>

    <em>{% blocktrans %}This feedback was submitted via AlekSIS.{% endblocktrans %}</em>
</main>
