{% extends 'core/base.html' %}
{% load static i18n %}

{% block extra_head %}
    {{ form.media.css }}
    <link rel="stylesheet" type="text/css" href="{% static "css/select2-materialize.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/hjelp.css" %}" />
{% endblock %}

{% block content %}
    <h5>{% blocktrans %}Report a bug – REBUS – REport-A-Bug-System{% endblocktrans %}</h5>

    <form method="post" id="rebus-form">
        {% csrf_token %}

        <p class="red-text">{{ form.non_field_errors }}</p>

        <div class="row">
            <div id="{{ form.bug_category_1.auto_id }}" class="input col s12 m4 support-input-mobile browser-default">
                <div class="flex-row">
                    <div id="bug_category_1_icon" class="bug-category-icon">
                        <i class="material-icons prefix small">bug_report</i>
                    </div>
                    <div class="bug-category-field">
                        {{ form.bug_category_1.label_tag }}
                        {{ form.bug_category_1 }}
                    </div>
                </div>
            </div>
            <div id="{{ form.bug_category_2.auto_id }}" class="input col s12 m4 support-input-mobile browser-default" style="display: none">
                <div class="flex-row">
                    <div id="bug_category_2_icon" class="bug-category-icon">
                    </div>
                    <div class="bug-category-field">
                        {{ form.bug_category_2.label_tag }}
                        {{ form.bug_category_2 }}
                    </div>
                </div>
            </div>
            <div id="{{ form.bug_category_3.auto_id }}" class="input col s12 m4 support-input-mobile browser-default" style="display: none">
                <div class="flex-row">
                    <div id="bug_category_3_icon" class="bug-category-icon">
                    </div>
                    <div class="bug-category-field">
                        {{ form.bug_category_3.label_tag }}
                        {{ form.bug_category_3 }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <p class="red-text">{{ form.short_description.errors }}</p>
            <div class="input-field col s12 support-input-mobile">
                <i class="material-icons prefix">help</i>
                {{ form.short_description }}
                <label for="{{ form.short_description.id_for_label }}">{% blocktrans %}Please describe your issue in <strong>one</strong> sentence{% endblocktrans %}</label>
            </div>
        </div>

        <div class="row">
            <p class="red-text">{{ form.long_description.errors }}</p>
            <div class="input-field col s12 support-input-mobile">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="{{ form.long_description.id_for_label }}" name="{{ form.long_description.html_name }}" class="materialize-textarea"></textarea>
                <label for="{{ form.long_description.id_for_label }}">{% blocktrans %}Please describe your issue <strong>more detailed</strong> (optional){% endblocktrans %}</label>
            </div>
        </div>

        <button type="submit" name="go" id="go" class="btn waves-effect waves-light green">
            {% blocktrans %}Submit bugreport{% endblocktrans %}
            <i class="material-icons right">send</i>
        </button>
    </form>

    {{ form.media.js }}
    <script src="{% static "js/materialize-select2.js" %}"></script>
    <script>
        $('#go').click(function (event) {
            var el = $("#rebus-form").get(0);
            var valid = el.reportValidity();
            console.log(valid);
            if (!valid) {
                M.toast({html: "<i class='material-icons left'>error</i>Bitte fülle alle benötigten Felder aus!"})
            }
        });
        $.fn.setIcons = function (field_id, icon_id) {
            var category = $('#' + field_id).find(':selected').text();
            console.log(category);
            $.ajax({
                url: '{% url "rebus-get-icon" %}',
                data: {
                    'category': category
                },
                dataType: 'json',
                success: function (data) {
                    $(icon_id).html("<i class=\"material-icons prefix small\">" + data.icon + "</i>");
                }
            });
        }
        $("#{{ form.bug_category_1.auto_id }}").on('input', function() {
            $.fn.setIcons(this.id, "#bug_category_2_icon")
            if ($("#{{ form.bug_category_2.auto_id }}").is(':hidden')) {
                $("#{{ form.bug_category_2.auto_id }}").show();
            } else if ($("#{{ form.bug_category_3.auto_id }}").is(':visible')) {
                $("#{{ form.bug_category_3.auto_id }}").hide();
            }
        });
        $("#{{ form.bug_category_2.auto_id }}").on('input', function() {
            $.fn.setIcons(this.id, "#bug_category_3_icon")
            if ($("#{{ form.bug_category_3.auto_id }}").is(':hidden')) {
                $("#{{ form.bug_category_3.auto_id }}").show();
            }
        });
    </script>

{% endblock %}
